<header class="flex flex-col items-center">
    <a href="#" class="w-full flex justify-center bg-blue">
        <img src="https://www.banimode.com/img/cms/011003/1671857902.gif" alt="">
    </a>
    <div class="flex align-items-center justify-between py-6 w-full max-w-[1424px]">
        <div class="flex items-center">
            <img src="assets/img/shopping-bag-outline.svg" alt="" class="w-10 h-10">
            <button class="rounded-3xl bg-green hover:bg-[#19b66d] text-white flex items-center justify-center px-5 py-3">
                ورورد / ثبت نام
            </button>
        </div>
        <img src="assets/img/banilogo.svg" alt="">
    </div>
</header>