@font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: 400;
    src: url('../font/yekan/Yekan.ttf') format('ttf'), url('../font/yekan/Yekan.woff') format('woff'), url('../font/yekan/Yekan.eot') format('eot');
}