<div class="w-[90%] max-w-[1424px] mx-auto flex flex-col items-center mt-16 py-24 background-img relative">
    <div class="text-2xl mb-4">
        ثبت نام در خبرنامه بانی‌مد
    </div>
    <div class="text-gray-700">
        اولین نفری باشید که از جدیدترین محصولات، جشنواره ها و فروش‌های ویژه ما مطلع می شوید
    </div>
    <div class="w-1/2 grid grid-cols-5 gap-6 bg-white rounded-full p-3 absolute -bottom-10">
        <input type="text" placeholder="آدرس ایمیل شما" class="bg-gray-100 py-3 col-span-4 px-3 rounded-3xl focus:outline-none">
        <button class="flex justify-center items-center rounded-full text-lg col-span-1 bg-[#00bf6f] text-white">
            ارسال
        </button>
    </div>
</div>