<div class="hidden md:flex w-[90%] max-w-[1424px] mx-auto flex-col items-center mt-16 mb-24 py-24 background-img relative">
    <div class="text-2xl mb-4">
        ثبت نام در خبرنامه بانی‌مد
    </div>
    <div class="text-gray-700">
        اولین نفری باشید که از جدیدترین محصولات، جشنواره ها و فروش‌های ویژه ما مطلع می شوید
    </div>
    <div class="w-1/2 grid grid-cols-5 gap-6 bg-white rounded-full p-3 absolute -bottom-10">
        <input type="text" placeholder="آدرس ایمیل شما" class="bg-gray-100 py-3 col-span-4 px-3 rounded-3xl focus:outline-none">
        <button class="flex justify-center items-center rounded-full text-lg col-span-1 bg-[#00bf6f] text-white">
            ارسال
        </button>
    </div>
</div>
<div class="md:hidden px-2 py-3 bg-gray-100 w-[95%] mx-auto rounded-lg mt-10">
    <div class="w-full text-center font-semibold mt-2 mb-4 mx-auto">
        میزبان صدای گرمتان هستیم
    </div>
    <div class="w-full text-center text-gray-500 text-sm">
        ۷روز هفته - ۲۴ساعته
    </div>
    <div>
        <div class="flex items-center mt-5">
            <div class="w-8 h-8 rounded-full overflow-hidden flex items-center justify-center bg-white ml-3">
                <img src="https://www.banimode.com/assets/img/icon/call.svg" alt="" class="object-contain rounded-full">
            </div>
            <p class="text-gray-500 text-sm">
                ۰۲۱-۴۲۲۱۵
            </p>
        </div>
        <div class="flex items-center mt-5">
            <div class="w-8 h-8 rounded-full overflow-hidden flex items-center justify-center bg-white ml-3">
                <img src="https://www.banimode.com/assets/img/icon/message-larg.svg" alt="" class="object-contain rounded-full">
            </div>
            <p class="text-gray-500 text-sm">
                ۱۰۰۰۱۶۵۴
            </p>
        </div>
        <div class="flex items-center mt-5">
            <div class="w-8 h-8 rounded-full overflow-hidden flex items-center justify-center bg-white ml-3">
                <img src="https://www.banimode.com/assets/img/icon/email.svg" alt="" class="rounded-full object-contain">
            </div>
            <p class="text-gray-500 text-sm">
                customer@banimode.com
            </p>
        </div>
    </div>
</div>