<div class="w-full flex justify-center">
    <div class="w-full max-w-[1424px]">
        <div class="py-5 grid grid-cols-3">
            <div class="col-span-2 h-full p-3">
                <a href="#" class="w-full h-full rounded-xl overflow-hidden bg-slate-500">
                    <img src="https://www.banimode.com/img/cms/011007/1672226479.gif" alt="" class="w-full h-full rounded-2xl">
                </a>
            </div>
            <div class="col-span-1 aspect-square p-3">
                <img src="https://www.banimode.com/img/cms/011004/1671953816.gif" alt="" class="w-full h-full object-cover rounded-2xl">
            </div>
        </div>
        <div class="py-5 grid grid-cols-3">
            <div class="col-span-1 aspect-square p-3">
                <img src="https://www.banimode.com/img/cms/011003/1671870417.jpg" alt="" class="w-full h-full object-cover rounded-2xl">
            </div>
            <div class="col-span-2 h-full p-3">
                <img src="https://www.banimode.com/img/cms/011003/1671870500.jpg" alt="" class="w-full h-full object-cover rounded-2xl">
            </div>
        </div>
        <div class="py-5 grid grid-cols-6 gap-8">
            <div class="col-span-1 aspect-square bg-yellow-200 rounded-lg">
                <img src="https://www.banimode.com/img/cms/010924/1671119911.jpg" alt="" class="object-cover rounded-lg w-full h-full">
            </div>
            <div class="col-span-1 aspect-square bg-yellow-300 rounded-lg">
                <img src="https://www.banimode.com/img/cms/010924/1671119930.jpg" alt="" class="object-cover rounded-lg w-full h-full">

            </div>
            <div class="col-span-1 aspect-square bg-yellow-400 rounded-lg">
                <img src="https://www.banimode.com/img/cms/010924/1671119945.jpg" alt="" class="object-cover rounded-lg w-full h-full">
            </div>
            <div class="col-span-1 aspect-square bg-yellow-500 rounded-lg">
                <img src="https://www.banimode.com/img/cms/010924/1671119959.jpg" alt="" class="object-cover rounded-lg w-full h-full">
            </div>
            <div class="col-span-1 aspect-square bg-yellow-600 rounded-lg">
                <img src="https://www.banimode.com/img/cms/010926/1671267287.jpg" alt="" class="object-cover rounded-lg w-full h-full">
            </div>
            <div class="col-span-1 aspect-square bg-yellow-100 rounded-lg">
                <img src="https://www.banimode.com/img/cms/010924/1671119985.jpg" alt="" class="object-cover rounded-lg w-full h-full">
            </div>
        </div>
    </div>
</div>